/* Sommaire
  body
    navbar
    carousel
  footer*/

@font-face {
  font-family: 'anicb';
  src:url('police_titres/anicb.ttf') format('truetype');
}
*{
  font-family: 'anicb';
}

@font-face{
  font-family: "symbol";
  src:url('symboles_titres/tnganb.ttf') format('truetype');
}



                                /* Body */
          /* navbar */

.container-fluid{
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-header {
  background-color: #F5631E;
  width: 100%;
  height: auto;
}

ul{
  list-style: none;
}


.navbar-nav{
  text-align: center;
}


        /* color text navbar */
.onglet{
  text-decoration: none;
  color: white;
  margin-top: -50px;
}

.onglet:hover {
  text-decoration: underline;
  background: #F5631E;
}

                              /* carousel */





                              /* pills */
#pills{
  background-image: url("bg_light.png");
}


/* symbol IJ */
h2{
	font-family: 'anicb';
	font-size: 1.6em;
	font-weight: bold;
}

h2::before, h2::after {
  	font-family: symbol;
  	content: ' ij ';
  	color: #F26900;
  	vertical-align: super;
  }


.list-inline {
  text-align: center;
}

.list-inline li a{
  color: grey;
}

.list-inline li a:hover{
  text-decoration: underline;
  color: #F5631E;
}


/* Thumbnails */
.picture{
  border: 10px solid black;
  z-index: 1;
  opacity: 0.6;
}

.thumbnails{
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  margin-left: 8%;
  max-width: 506px;
  background-color: #000000; /* rendu fond noir perso*/
}

.frame1{
  position: absolute;
  top: 10px;
  background-color: white;
  border: solid 1px;
  border-radius: 10px;
  text-align: center;
  font-size: calc(2vw);
  max-width: 480px;
  height: auto;
  margin-top: calc(1vw);
  margin-left: calc(1vw);
  z-index: 2;
}


.b_name{
  position: absolute;
  color: white;
  text-align: center;
  font-size: calc(2vw);
  margin-top: calc(-14vw);
  margin-left: calc(8vw);
  z-index: 2;
}

.s_name{
  position: absolute;
  color: white;
  text-align: center;
  font-size: calc(1vw);
  margin-top: calc(-2vw);
  margin-left: calc(10vw);
  visibility: hidden;
}


.frame2{
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: calc(2vw);
  margin-top: 40px;
  margin-left: 11vw;
  color: #F5631E;
}

.coins{
  color: #F5631E;
}

.description{
  text-align: center;
  font-size: calc(1.2vw);
  color: grey;
}

.dead{
  margin-left: -1vw;
  text-decoration: line-through;
}


.thumbnails:hover .picture{
  opacity: 1;
}

.thumbnails:hover .frame{
  visibility: hidden;
}


.thumbnails:hover .b_name{
  visibility: hidden;
}

.thumbnails:hover .s_name{
  visibility: visible;
}


  /* Footer */



  @media screen and (min-width: 768px) {
	.mycarousel {
		display: block;
		margin: 100px -15px 0 -15px;
	}
	#pills {
	margin-top: 0px;
	}
}
@media screen and (min-width: 992px) {
	.navbar-brand > img {
		max-width: 21vw;
	}
	.mycarousel {
		display: block;
		margin: 50px -15px 0px -15px;
	}
}
@media screen and (min-width: 1200px) {
	.mycarousel {
		margin-top: 50px;
	}
	.navbar-nav {
		position: relative;
		left: 110px;
	}
}
